.card {
    min-height: 300px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border: none;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;

}

.card-img-overlay {
    justify-content: end;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)0%, rgba(0, 0, 0, 0) 60%);
}

.card.selected {
    border: 2px solid;
    border-color: #b5b5b5; 
    transform: scale(1.03);
    z-index: 10;
}